<h1>Data Binding</h1>


<!--use interpolation-->

<h2>Let's bind the data from source to view using Interpolation</h2>
<hr>


<p>{{name}}</p>

<!--Property Binding-->
<h2>Let's bind the data from source to view using property Binding: []: bind the data with attribute</h2>


<a [href]="url">Connect to google</a>

<br>

<h3>Print JSON Array</h3>

<br>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>PRICE</th>
            <th>AVAILABLE</th>
            <th>RATINGS</th>
        </tr>
    </thead>
    <tbody>
            <!--NgDirectives eg: *ngFor-->
            <tr *ngFor="let p of products">

                <td [class.inStock]="true">{{p.name}}</td>
                <td [style.font-weight]="we">{{p.price}}</td>
                <td>{{p.available}}</td>
                <td [class.inStock1]="true">{{p.ratings}}</td>
            </tr>
    </tbody>
</table>